/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Auth Card */
.auth-container {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Input Styling */
.auth-container input,
.auth-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Button */
.auth-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-container button:hover {
  background-color: #2e59d9;
}

/* Link */
.auth-container a {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #4e73df;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}
